# Byte-compiled / packaging / virtual environments
__pycache__/
*.py[cod]
build/
dist/
*.egg-info/
.venv/
venv/
env/

# Django specific files
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Sensitive configuration & IDEs
.env
.vscode/
.idea/
*.swp
